.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;

  .logo {

  &:hover {
    filter: drop-shadow(0 0 2em #54bc4ae0);
  }
}
}
